/* Reset basic styles */
* {
    box-sizing: border-box;
    margin: 0;
    color: #ffffff;
    padding: -12px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#fde3ba4f, #ebcbc9);
    min-height: 100vh;
}

/* Header */
header {
    padding: 40px;
    text-align: center;
    background: linear-gradient(#ffe1b0, #ebbcb9);
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
    color:white;
height: 82px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    border: 2px solid ;
}
.logo{
  width: 41px;
  margin-top: -13px;
  margin-left: -4px;
  font-style: italic;
  font-synthesis: inherit;
  font-weight: 500;
  font-family: none;
  text-shadow: 58 0 black;
  text-shadow: 3px 3px 12px rgb(0 6 3 / 20%);
  font-size: -webkit-xxx-large;
}


/* Products container */
.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Card styling */
.card {
    width: 282px;
    background: linear-gradient(#ffe1b0, #ebbcb9);
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px auto;
    margin-top: -13px;
    margin-left: auto;
    box-shadow: 5px 5px 5px rgb(5 5 5 / 20%);

}

.card img {
  width: 171px;
  height: 178px;
  border-radius: 30px;
  object-fit: cover;
  box-shadow: 1px 4px 49px rgb(7 7 68 / 20%);
}


/* Button styling */
.Order {
   
  margin-top: 18px;
  padding: 12px 16px;
  border: none;
  background-color: white;
  color: palevioletred;
  font-weight: bold;
  cursor: pointer;
  border-radius: 13px;
  box-shadow: 1px 4px 49px rgb(7 7 68 / 20%);
}
h3{
  margin-top: 15px;
}

.Order:hover {
    background-color: #d2b48c;
}

.Order:active {
    background-color: #5D4037;
    transform: scale(0.95);
}
/* Header container layout */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #5D4037; /* لون بني غامق عشان الأبيض يبان */
  color: white;
}

/* Logo styling */
.logo {
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  font-family: serif;
  margin-top: -14px;
  margin-left: 1px;
  color: white;
}
/* Navigation list styling */
.main-header nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
  color: white;
}
nav{    
  margin-left: 221PX;
  margin-top: -34px;
  font-size: xx-small;
  color: white;
}


@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
        color: white;
    }

    .products-container {
        flex-direction: column;
        align-items: center;
    }

    header {
      font-size: 1.5rem;
      padding: 20px;
      border-radius:20px;
      border: -16px solid;
  }
    }

    .perant {
      font-size:xx-small;
      padding: 0 10px;
      margin-left: 82px;
      margin-top: 15px;
     color: brown;
      font-family: none;
    }
